*{    
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* Layout */

/* header */

.header-div{
    display: flex;  /* cerca un altro modo, lo sai che non devi usare flex anche se è la cosa migliore */
    align-items: center;
}

.logo-img{
    padding: 10px;
}

h1{
    font-size: 35px;
}

/* main */

.margin-div1{
    margin-top: 20px;
    margin-bottom: 3px;
}

.margin-lr{
    margin-left: 10%;
    margin-right: 10%;
}

.margin-div2{
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
}

p{
    font-weight: 450;
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
}

.container-taskgroup{
    margin-left: 36px;
    padding-top: 20px;
}

.container-task{
    display: inline-block;
    max-width: 400px;
    margin-top: 10px;
}


/* Colori */

.bg-w{
    background-color: white;
}

.bg-b1{
    background-color: #46ACF2;
}

/* Bottoni */

.addt-btn{
    margin-left: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 550;
}

.adds-btn{
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    border-color: rgb(189, 189, 189);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    color: rgb(189, 189, 189);
    background-color: white;
    cursor: pointer;
    font-weight: 550;
}

.check-btn{
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    border-color: #81CCB9;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    color: #81CCB9;
    cursor: pointer;
}

.cross-btn{
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    border-color: #EE5D53;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    color: #EE5D53;
    cursor: pointer;
}

.edit-btn{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color:  #45ABE9;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    margin-top: 8;
    margin-bottom: 8px;
}

.q1-btn{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #9B72E5;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    margin-top: 8;
    margin-bottom: 8px;
}

.recr-btn{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #63C0A9;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    margin-top: 8;
    margin-bottom: 8px;
}

.mbl-btn{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #F29D33;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    margin-top: 8;
    margin-bottom: 8px;
}

.web-btn{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #D863A0;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    margin-top: 8;
    margin-bottom: 8px;
}

.sls-btn{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: rgb(176, 201, 37);
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    margin-top: 8;
    margin-bottom: 8px;
}